@* Navigation menu for the authenticated account management area. *@
<ul class="flex flex-row flex-wrap justify-center gap-2 text-sm font-black uppercase lg:flex-col">
    <li>
        <NavLink
            class="@NavLinkClass"
            ActiveClass="@ActiveNavClass"
            href="Account/Manage" Match="NavLinkMatch.All">Profile
        </NavLink>
    </li>
    <li>
        <NavLink
            class="@NavLinkClass"
            ActiveClass="@ActiveNavClass"
            href="Account/Manage/Email">Email
        </NavLink>
    </li>
    <li>
        <NavLink
            class="@NavLinkClass"
            ActiveClass="@ActiveNavClass"
            href="Account/Manage/ChangePassword">Password
        </NavLink>
    </li>
    <li>
        <NavLink
            class="@NavLinkClass"
            ActiveClass="@ActiveNavClass"
            href="Account/Manage/TwoFactorAuthentication">Two-factor authentication
        </NavLink>
    </li>
    <li>
        <NavLink
            class="@NavLinkClass"
            ActiveClass="@ActiveNavClass"
            href="Account/Manage/PersonalData">Personal data
        </NavLink>
    </li>
</ul>

@code {
    private const string NavLinkClass = "neo-button-sm w-full text-center lg:w-auto";
    private const string ActiveNavClass = "translate-x-0.5 translate-y-0.5 !bg-black !text-white !shadow-none dark:!bg-white dark:!text-black dark:!shadow-none";

}