<a class="card bg-base-100 h-auto shadow-xl @(Hidden ? "hidden" : string.Empty)" href="@Url" target="_blank"
    rel="noopener noreferrer">
    <figure class="w-full h-44 xl:h-60">
        <img src="@Img" alt="@Title" loading="lazy" />
    </figure>
    <div class="prose text-justify card-body">
        <h2 class="card-title">@Title</h2>
        <p>@Desc</p>
    </div>
</a>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Desc { get; set; }

    [Parameter]
    public string? Img { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public bool Hidden { get; set; }
}
