@inject ILocalStorageService LocalStorage

<nav class="navbar">
    <div class="navbar-start">
        <a class="btn btn-link" href="">
            @foreach (var navBrand in NavBrands)
            {
                <img src="@navBrand.Logo" alt="@navBrand.Alt" class="h-12 w-auto @navBrand.Display" />
            }
        </a>
    </div>
    <div class="navbar-center">
        <TabBordered />
    </div>
    <div class="navbar-end">
        <label class="swap swap-rotate">
            <input type="checkbox" class="theme-controller" value="dim" @attributes="CheckedAttributes" @onclick="ThemeController"/> 
            @foreach (var themeMode in ThemeModes)
            {
                <i class="@themeMode.Icon fa-2x @themeMode.State fill-current"></i>
            }
        </label>
    </div>
</nav>

@code {
    private class NavBrand 
    {
        public string? Logo { get; set; }
        public string? Alt { get; set; }
        public string? Display { get; set; }
    }

    private List<NavBrand> NavBrands = new()
    {
        new NavBrand { Logo = "img/logoHz.svg", Alt = "suryami62's Logo", Display = "max-md:hidden" },
        new NavBrand { Logo = "img/logoBx.svg", Alt = "suryami62's Logo Simplified", Display = "md:hidden" }
    };

    private bool ThemeChange { get; set; }

    private class ThemeMode
    {
        public string? Icon { get; set; }
        public string? State { get; set; }
    }

    private List<ThemeMode> ThemeModes = new()
    {
        new ThemeMode { Icon = "fa-solid fa-sun", State = "swap-on" },
        new ThemeMode { Icon = "fa-solid fa-moon", State = "swap-off" }
    };

    private Dictionary<string, object> CheckedAttributes { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await GetThemeState();
    }

    private async Task ThemeController()
    {
        ThemeChange = !ThemeChange;
        await LocalStorage.SetItemAsync("theme", ThemeChange);
        await GetThemeState();
    }

    private async Task GetThemeState()
    {
        ThemeChange = await LocalStorage.GetItemAsync<bool>("theme");
        CheckedAttributes = ThemeChange ? new() { { "checked", "checked" } } : new();
    }
}
