@inject ILocalStorageService LocalStorage

<nav class="navbar">
    <div class="navbar-start">
        <a class="btn btn-link" href="">
            @foreach (var navBrand in NavBrands)
            {
                <img src="@navBrand.Logo" alt="@navBrand.Alt" class="h-12 w-auto @navBrand.Class" />
            }
        </a>
    </div>
    <div class="navbar-center">
        <div role="tablist" class="tabs tabs-bordered tabs-lg">
            @foreach (var navItem in NavItems)
            {
                <NavLink role="tab" class="tab" href="@navItem.Href" ActiveClass="tab-active" Match="NavLinkMatch.All">
                    @navItem.Text
                </NavLink>
            }
        </div>
    </div>
    <div class="navbar-end">
        <label class="swap swap-rotate">
            <input type="checkbox" class="theme-controller" value="dim"/>
            <!-- Dark Mode Function 
            <input type="checkbox" class="theme-controller" value="dim" @@onclick="DarkMode"/> 
            -->
            @foreach (var themeList in ThemeLists)
            {
                <i class="@themeList.Icon fill-current"></i>
            }
        </label>
    </div>
</nav>

@code {
    private class NavBrand {
        public string? Logo { get; set; }
        public string? Alt { get; set; }
        public string? Class { get; set; }
    }

    private class NavItem
    {
        public string? Text { get; set; }
        public string? Href { get; set; }
    }

    private class ThemeList
    {
        public string? Icon { get; set; }
    }
    
    private List<NavBrand> NavBrands = new()
    {
        new NavBrand { Logo = "img/logoHz.svg", Alt = "suryami62's Logo", Class = "max-md:hidden" },
        new NavBrand { Logo = "img/logoBx.svg", Alt = "suryami62's Logo Simplified", Class = "md:hidden" }
        
    };

    private List<NavItem> NavItems = new()
    {
        new NavItem { Text = "Home", Href = "" },
        new NavItem { Text = "Blog", Href = "blog" },
        new NavItem { Text = "About Me", Href = "aboutme" }
    };
    
    private List<ThemeList> ThemeLists = new()
    {
        new ThemeList { Icon = "fa-solid fa-sun fa-2x swap-on" },
        new ThemeList { Icon = "fa-solid fa-moon fa-2x swap-off" }
    };

    /* Dark Mode Function
    private bool active { get; set; }

    private string? Check { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await GetDarkModeState();
    }

    private async Task DarkMode()
    {
        active = !active;
        await LocalStorage.SetItemAsync("dark", active);
        await GetDarkModeState();
    }

    private async Task GetDarkModeState()
    {
        active = await LocalStorage.GetItemAsync<bool>("dark");
        Check = active ? "checked" : "";
    }
    */
}
