<Router AppAssembly="@typeof(App).Assembly">

    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <PageTitle>
            suryami62 | Not Found
        </PageTitle>

        <LayoutView Layout="@typeof(MainLayout)">
            <p class="text-center">Sorry, it looks like the address you visited doesn't exist.</p>
        </LayoutView>
    </NotFound>

</Router>
