<a class="card bg-base-100 h-auto shadow-xl @(Hidden ? "hidden" : "")" href="@Url" target="_blank" rel="noopener noreferrer">
    <figure class="w-full h-44 sm:h-44 xl:h-60">
        <img src="@Img" alt="@Title" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">@Title</h2>
    </div>
</a>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Img { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public bool Hidden { get; set; } = false;
}
